* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
}

.header {
  background-color: #f1f1f1;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.header-right li a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}
.header-right li a:hover {
  background-color: #ddd;
  color: black;
}

.course,
.calendar,
.myclass {
  margin: auto;
}
.course,
.calendar,
.myclass {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.course td,
.course th,
.myclass td,
.myclass th {
  border: 1px solid #ddd;
  padding: 8px;
}

.course tr:nth-child(even),
.myclass tr:nth-child(even) {
  background-color: #f2f2f2;
}

.course tr:hover,
.myclass tr:hover {
  background-color: #ddd;
}

.course th,
.myclass th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.class_detail {
  margin: auto;
  text-align: center;
  background-color: #f2f2f2;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form form {
  width: 50%;
}

.fun {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke {
  display: block;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}
