* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
}

.header {
  background-color: #f1f1f1;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.header-right li a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}
.header-right li a:hover {
  background-color: #ddd;
  color: black;
}

.signup {
  border: 1px solid black;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  background-color: #f1f1f1;
}

.signin {
  border: 1px solid black;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  background-color: #f1f1f1;
}
.signin div {
  padding: 20px;
  font-size: large;
}
.signup div {
  padding: 20px;
  font-size: large;
}

.course,
.calendar {
  margin: auto;
}
.course,
.calendar {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.course td,
.course th {
  border: 1px solid #ddd;
  padding: 8px;
}

.course tr:nth-child(even) {
  background-color: #f2f2f2;
}

.course tr:hover {
  background-color: #ddd;
}

.course th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.class_detail {
  margin: auto;
  text-align: center;
  background-color: #f2f2f2;
}
